/* footer.css */
/* footer takes presedence over button even though it is later in the import */
/* the specificity for the footer is higher */
@layer button, footer;

@layer footer {
  footer {
    background-color: var(--slate-300);
    width: 100%;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    min-height: 4rem;
    padding: 0 1rem;
    position: sticky;
    bottom: 0;
    z-index: 99;

    & button {
      background-color: #333;
      color: white;
    }
  }
}
